[Unit]
Description=croc relay service
After=network.target

[Service]
Environment="CROC_PASS=pass123"
ExecStart=/usr/local/bin/croc relay
Restart=always
RestartSec=60
Type=simple
User=croc-relay
Group=nogroup

# Hardening
TemporaryFileSystem=/usr:ro
BindReadOnlyPaths=/usr/local/bin/croc

# A null CapabilityBoundingSet sets the service to have no capabilities.
CapabilityBoundingSet=
KeyringMode=private
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
# SECBIT_KEEP_CAPS defaults to "off", which is preferred for security.
# Hence for this bit, we only lock it, without also setting it. 
# Other bits are both set and locked.
SecureBits=keepcaps-locked,noroot,noroot-locked,no-suid-fixup,no-suid-fixup-locked
SystemCallArchitectures=native
# List of permitted syscalls
SystemCallFilter=@network-io @system-service
# List of denied syscalls (inherited from @system-service)
SystemCallFilter=~@privileged ~@resources

# At time of writing, no available systems to test these directives.
#ProtectProc=noaccess
#ProcSubset=all

[Install]
WantedBy=multi-user.target
